<header id="header">
    <div class="logo-container">
        <img src="assets/images/logo.jpg" alt="Logo">
        <p>My Cafe</p>
    </div>
    <div class="header-container">
        <nav>
            <ul>
                <li><a href="home-page.html">Home</a></li>
                <li><a href="#">Menu</a></li>
                <li><a href="#">Shop</a></li>
                <li><a href="#">Gallery</a></li>
                <li><a href="#">Our Story</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </nav>
        <div class="mobile-container">
            <div class="search-container">
                <input type="text" placeholder="Search here..." id="search-input">
                <img src="assets/images/icons/search.svg" alt="Search icon">
            </div>
            <div class="mobile-burger-menu">
                <img src="assets/images/icons/burger-menu.svg" alt="Burger Menu">
                <div class="mobile-menu">
                    <ul>
                        <li><a href="home-page.html">Home</a></li>
                        <li><a href="#">Menu</a></li>
                        <li><a href="#">Shop</a></li>
                        <li><a href="#">Gallery</a></li>
                        <li><a href="#">Our Story</a></li>
                        <li><a href="#">About</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>